# Python byte-compiled / optimized / DLL files
__pycache__/

# C compiled files (Generator_c)
Modules/Generator_c/build/

# Docx help files
Help/*.docx

# Other folders and files
DistrData/Temp.xlsx
Modules/Generator_c/misc/






